@page "/"
@using InfinityLogParser.Pages.Components
@using Parser;
@inject NavigationManager nm
<PageTitle>Главная</PageTitle>

<h1>Hello, world!</h1>

<p>Загрузите файл</p>
<InputFile OnChange="@LoadFile"/>
<button @onclick="ParseCalls">Спарсить звонки</button>
@if(calls.Count>0)
{
    <Calls CallsList="calls" />
}


@code{
    protected override void OnInitialized()
    {
        if (File.Exists(path))
            lines = File.ReadAllLines(path).ToList();
        if (lines == null)
            lines = new List<string>();
    }
    List<string> lines;
    List<Call> calls=new();
    string path = $"{Environment.CurrentDirectory}/wwwroot/files/mainlog.txt";
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        await using FileStream fs = new(path, FileMode.Create);
        await e.File.OpenReadStream().CopyToAsync(fs);
    }
    private void ParseCalls()
    {
        foreach (var line in lines)
        {
            if (line.Contains("OnIncomingCall"))
            {
                calls.Add(new Call {
                    OnIncomingCallDate= GetDateTime(line),
                    CalledNumber=GetCalledNumber(line)
                });
            }
        }
    }
    private string GetDateTime(string line)
    {
        var tokens = line.Split(' ');
        if(tokens[0]!=null&&tokens[1]!=null)
        {
            tokens[0] = tokens[0][..^1];
            tokens[1] = tokens[1][..^1];
        }
        return $"{tokens[0]} {tokens[1]}";
    }
    private string GetCalledNumber(string line)
    {
        string result=string.Empty;
        var tokens = line.Split(' ');
        foreach (var token in tokens)
        {
            if(token.Contains("CalledNumber"))
            {
                result = token.Split('=').Last();
            }
        }
        if (result.Length > 1)
            return result;
        else
            return "";
    }
}